!!!
%html(ng-app="geosure" )
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    %title= current_page.data.title || ""
    = stylesheet_link_tag "normalize", "site"
  %body
    .content
      = yield
    = javascript_include_tag "site"
